body {
font-family: 'Roboto', serif;
font-size: 20px;
background-image: url('/img/cross.png');
background-attachment: fixed;
}
.title {
font-size: 40px
}
.subtitle {
font-size: 30px
}
.link {
color: black;
text-align: center;
text-decoration: none;
}
a{
color: #505050;
}
a:hover{
color: #8B0000;
}

footer{
  font-size: 14px;
}
